@page
@model DearDiary.Pages.Diary.MyDiary
@{
    ViewData["Title"] = "MyDiary";
}
<div class="container mt-4">

    <!-- New Entry Form -->
    <div style="background-image: url(/Images/page.jpg);" class="new-entry bg-light text-dark rounded p-4 mt-5">
        <h3 class="text-center">Create a New Entry</h3>
        <form method="post" asp-page-handler="Create" >
            <div class="form-group">
                <label asp-for="NewEntry.Title" class="form-label"></label>
                <input style="background:transparent; border:none;" asp-for="NewEntry.Title" class="form-control" required />
            </div>
            <div class="form-group mt-3">
                <label asp-for="NewEntry.Content" class="form-label"></label>
                <textarea style="background: transparent; border:none;" asp-for="NewEntry.Content" class="form-control" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-danger btn-lg mt-4">Save Entry</button>
        </form>
    </div>
</div>